#main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;

  #carousel {
    border-left: none;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: $z-index-back;
  }

  #logo-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 40px 25px;
    z-index: $z-index-front;

    #menu-container {
      color: white;
      cursor: url("/media/square_light.png") 3 3, auto;
      display: flex;
      flex-direction: column;
      font-size: 22px;
      list-style-type: none;
      margin: auto;
      top: 0;
      z-index: $z-index-front;

      #logo {
        align-self: flex-start;
        cursor: url("/media/square_light.png") 3 3, auto;
        margin-bottom: 45px;
        width: 250px;
      }

      .menu-item {
        min-width: 300px;
        padding-bottom: 3px;
        height: 45px;
        width: 30%;

        &:not(:first-child) {
          margin-top: 12px;
        }

        .menu-link {
          cursor: url("/media/cross_light.png") 3 3, auto;
          display: block;
          height: 100%;
          line-height: 45px;
          font-size: $heading-item-title-font-size;
          width: 100%;

          &:visited {
            color: $white;
          }

          &:hover {
            font-weight: lighter;
          }
        }
      }
    }
  }

  #blink-photos-main {
    bottom: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
  }
}

@include media("<=600px") {
  #main {
    #logo-menu {
      background-color: unset;
      #menu-container {
        #logo {
          background-color: $black;
          padding: 10px;
        }

        .menu-item {
          background-color: $black;
          min-width: unset;
          padding: 10px;
          width: 250px;
        }
      }
    }
  }
}

@include media(">=desktop") {
  #main {
    #carousel {
      display: block;
    }

    #blink-photos-main {
      display: none;
    }
  }
}
