section#projects {
  height: unset;
  width: 100%;
}

#categories-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .category-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    width: 60%;

    .category {
      display: flex;
      background-attachment: fixed;
      background-position: center;
      background-size: contain;
      height: 420px;
      max-width: 900px;
      min-width: 300px;
      width: 80%;
    }
    .category-title {
      backdrop-filter: brightness(80%);
      color: white;
      cursor: url("/media/square_light.png") 3 3, auto;
      line-height: 420px;
      font-size: $heading-item-title-font-size;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
    }
  }
}

@include media("<=1350px") {
  #categories-container {
    .category-container {
      width: 100%;

      .category {
        height: 23vh;
        max-width: unset;
        width: 94%;
      }
      .category-title {
        line-height: 23vh;
      }
    }
  }
}
