@import "media-utils";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

//colors
$black: rgb(17, 16, 16);
$black-transparent: rgba(17, 16, 16, 0.85);
$grey: #939393;
$light-grey: #cdcdcd;
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.65);

// fonts
$heading-item-title-font-size: 1.1rem;

//visibility order
$z-index-background: 1;
$z-index-back: 10;
$z-index-hidden: 0;
$z-index-middle: 100;
$z-index-front: 1000;
$z-index-foreground: 5000;
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: url("/media/square_light.png") 3 3, auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: url("/media/square_light.png") 3 3, auto;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  cursor: url("/media/square_light.png") 3 3, auto;
}

* {
  cursor: url("/media/square.png") 3 3, auto;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

body {
  overflow-x: hidden;
}

footer {
  bottom: 0;
  color: white;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: $z-index-front;

  p {
    font-weight: 100;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

ul {
  padding: 0;
}

.container {
  display: flex;
}

.dark-panel {
  background-color: $black;
  cursor: url("/media/square_light.png") 3 3, auto;
  * {
    cursor: url("/media/square_light.png") 3 3, auto;
  }
}

.glass {
  backdrop-filter: brightness(70%);
  background: rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
  z-index: $z-index-hidden;
}

.no-transparent-glass {
  backdrop-filter: brightness(170%);
  background: rgba(255, 255, 255, 0.95);
}

#cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: $z-index-foreground;
  img {
    margin-top: 7px;
    width: 45px;
  }
  p {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
}
