@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: url("/media/square_light.png") 3 3, auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: url("/media/square_light.png") 3 3, auto;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  cursor: url("/media/square_light.png") 3 3, auto;
}

* {
  cursor: url("/media/square.png") 3 3, auto;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

ul {
  padding: 0;
}

.container {
  display: flex;
}

.dark-panel {
  backdrop-filter: brightness(120%);
  background-color: rgba(17, 16, 16, 0.85);
  cursor: url("/media/square_light.png") 3 3, auto;
}
.dark-panel * {
  cursor: url("/media/square_light.png") 3 3, auto;
}

.glass {
  backdrop-filter: brightness(70%);
  background: rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
  z-index: 0;
}

.no-transparent-glass {
  backdrop-filter: brightness(170%);
  background: rgba(255, 255, 255, 0.95);
}

#cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 5000;
}
#cover img {
  margin-top: 7px;
  width: 45px;
}
#cover p {
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.m-p-g {
  max-width: 100% !important;
}

button,
button span {
  cursor: url("/media/square_light.png") 3 3, auto !important;
}

.projects {
  display: flex;
  margin: 15px 0;
  overflow: hidden;
  flex-direction: column;
  width: 60%;
}
.projects #projects-title,
.projects #projects-title-white {
  margin-left: 195px;
  text-transform: uppercase;
  font-size: 25px;
  z-index: 1000;
}
.projects #projects-title-white {
  bottom: 25px;
  color: white;
  position: fixed;
  right: 25px;
}
.projects .project-container {
  position: relative;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-left: 195px;
  margin-top: 25px;
  height: 400px;
  width: 600px;
}
.projects .project-container .project-back {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
  position: absolute;
  height: 100%;
  width: 100%;
}
.projects .project-container .project-front {
  align-items: center;
  background-color: transparent;
  cursor: url("/media/square_light.png") 3 3, auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.projects .project-container .project-front .caption,
.projects .project-container .project-front .name {
  color: white !important;
  cursor: url("/media/square_light.png") 3 3, auto !important;
  font-weight: 400;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}
.projects .project-container .project-front .name {
  font-size: 12px;
}
.projects .project-container .project-front .caption {
  font-size: 10px;
}

#details-title {
  padding: 2px;
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 1000;
}
#details-title #details-title-black,
#details-title #details-title-white {
  text-transform: uppercase;
  font-size: 24px;
}
#details-title #details-title-white {
  color: white;
}

#details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  right: 0;
  top: 10%;
  width: 100%;
}
#details .detail {
  align-self: center;
  justify-self: center;
}
#details .detail .detail_photo {
  margin-bottom: 1px;
  margin-right: 1px;
}

#details-container {
  opacity: 1;
  position: relative;
  width: 40%;
}

#details-container-mobile {
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
}

#menu {
  border-right: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 170px;
  cursor: url("/media/square_light.png") 3 3, auto;
}
#menu a {
  color: black;
  padding: 7px;
}
#menu a:hover {
  background-color: black;
  color: white;
  cursor: url("/media/square_light.png") 3 3, auto;
}

@media (max-width: 1350px) {
  #details-container,
#details-container-mobile {
    background-color: #ffffff;
    padding: 15px;
    position: fixed;
    top: 25px;
    height: 100vh;
    width: 100%;
  }

  #menu {
    background-color: white;
    flex-direction: row;
    height: 25px;
    width: 100%;
  }
}
#projects-container {
  display: flex;
}

@media (max-width: 1350px) {
  #projects-container {
    width: 100%;
  }
  #projects-container .projects {
    align-items: center;
    justify-items: center;
    min-width: 400px;
    width: 100%;
  }
}

/*# sourceMappingURL=gallery_projects.css.map */
