@import "utils";
$menu-width: 170px;
$projects-width: 60%;

.m-p-g {
  max-width: 100% !important;
}

button,
button span {
  cursor: url("/media/square_light.png") 3 3, auto !important;
}

.projects {
  display: flex;
  margin: 15px 0;
  overflow: hidden;
  flex-direction: column;
  width: $projects-width;

  #projects-title,
  #projects-title-white {
    margin-left: $menu-width + 25;
    text-transform: uppercase;
    font-size: 25px;
    z-index: $z-index-front;
  }

  #projects-title-white {
    bottom: 25px;
    color: white;
    position: fixed;
    right: 25px;
  }

  .project-container {
    position: relative;
    border: 1px solid black;
    margin-bottom: 15px;
    margin-left: $menu-width + 25;
    margin-top: 25px;
    height: 400px;
    width: 600px;
    .project-back {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(70%);
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .project-front {
      align-items: center;
      background-color: transparent;
      cursor: url("/media/square_light.png") 3 3, auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      .caption,
      .name {
        color: white !important;
        cursor: url("/media/square_light.png") 3 3, auto !important;
        font-size: $heading-item-title-font-size;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

#details-title {
  padding: 2px;
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: $z-index-front;

  #details-title-black,
  #details-title-white {
    font-size: $heading-item-title-font-size;
    text-transform: uppercase;
  }

  #details-title-white {
    color: white;
  }
}

#details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  right: 0;
  top: 10%;
  width: 100%;

  .detail {
    align-self: center;
    justify-self: center;
    .detail_photo {
      margin-bottom: 1px;
      margin-right: 1px;
    }
  }
}

#details-container {
  opacity: 1;
  position: relative;
  width: 40%;
}

#details-container-mobile {
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
}

#menu {
  border-right: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: $menu-width;
  cursor: url("/media/square_light.png") 3 3, auto;

  a {
    color: black;
    padding: 7px;
    font-size: $heading-item-title-font-size;

    &:hover {
      background-color: black;
      color: white;
      cursor: url("/media/square_light.png") 3 3, auto;
    }
  }
}

@include media("<=1350px") {
  #details-container,
  #details-container-mobile {
    background-color: $white;
    padding: 15px;
    position: fixed;
    top: 25px;
    height: 100vh;
    width: 100%;
  }

  #menu {
    background-color: white;
    flex-direction: row;
    height: 25px;
    width: 100%;
  }
}

#projects-container {
  display: flex;
  // height: 100vh;
}

@include media("<=1350px") {
  #projects-container {
    width: 100%;
    .projects {
      align-items: center;
      justify-items: center;
      min-width: 400px;
      width: 100%;
    }
  }
}

// .m-p-g__thumbs {
//     width: 100% !important;
//     .m-p-g__thumbs-img {
//         height: auto;
//         max-width: 300px !important;

//     }
// }
