@import "utils";
$menu-width: 170px;
$projects-width: 60%;

.m-p-g {
  max-width: 100% !important;
}

button,
button span {
  cursor: url("/media/square_light.png") 3 3, auto !important;
}

.projects {
  display: flex;
  margin: 15px 0;
  overflow: hidden;
  flex-direction: column;
  width: $projects-width;

  #projects-title,
  #projects-title-white {
    margin-left: $menu-width + 25;
    text-transform: uppercase;
    font-size: 25px;
  }

  #projects-title {
    z-index: $z-index-back;
  }

  #projects-title-white {
    bottom: 25px;
    color: white;
    position: fixed;
    right: 25px;
    z-index: $z-index-front;
  }

  .project-container {
    position: relative;
    border: 1px solid black;
    margin-bottom: 15px;
    margin-left: $menu-width + 25;
    margin-top: 25px;
    height: 400px;
    width: 600px;

    .project-back {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(70%);
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .project-front {
      align-items: center;
      background-color: transparent;
      cursor: url("/media/square_light.png") 3 3, auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;

      .name {
        color: white !important;
        cursor: url("/media/square_light.png") 3 3, auto !important;
        font-size: $heading-item-title-font-size;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@include media("<=1350px") {
  .projects {
    align-items: center;
    justify-items: center;
    // max-width: 400px;
    width: 100%;

    #projects-title {
      display: block;
      margin: 37px auto 0 auto;
      position: static;
      font-weight: 100 !important;
    }
    #projects-title-white {
      display: none;
    }

    .project-container {
      margin: 5px 0;
      max-height: 350px;
      max-width: 600px;
      width: 100%;

      #project-front,
      #project-back {
        min-width: 100%;
      }
    }
  }
}

#details-container {
  // position: relative;
  position: fixed;
  right: 0;
  width: 40%;

  #title-description-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 15px;
    position: relative;

    #detail-description {
      font-weight: 100 !important;
      text-align: end;
      width: 100%;
    }
    #details-title {
      display: flex;
      margin-bottom: 10px;
      padding: 2px;

      #details-title-black,
      #details-title-white {
        font-size: $heading-item-title-font-size;
        text-transform: uppercase;
      }
      #details-title-white {
        color: white;
        z-index: $z-index-back;
      }
      #details-title-white {
        color: white;
        z-index: $z-index-front;
      }
    }
  }

  #details {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    right: 0;
    top: 10%;
    width: 100%;
    z-index: $z-index-middle;

    .detail {
      align-self: center;
      justify-self: center;
      .detail_photo {
        margin-bottom: 1px;
        margin-right: 1px;
      }
    }
  }
}

@include media("<=1350px") {
  #details-container {
    background-color: $white;
    padding: 15px;
    position: fixed;
    top: 25px;
    height: 100vh;
    width: 100%;
  }
}

#menu {
  border-right: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: $menu-width;
  cursor: url("/media/square_light.png") 3 3, auto;

  a {
    color: black;
    padding: 7px;
    font-size: $heading-item-title-font-size;

    &:hover {
      background-color: black;
      color: white;
      cursor: url("/media/square_light.png") 3 3, auto;
    }
  }
}

@include media("<=1350px") {
  #menu {
    background-color: $white-transparent;
    flex-direction: row;
    height: 30px;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: $z-index-front;

    a {
      line-height: 30px;
      margin: 0 5px;
      padding: 1px 4px;
      text-align: center;
    }
  }
}
